@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">LDS Movie App</h1>
    <p>This is a web app that is used to store a list of LDS themed movies.</p>
</div>
